---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Digitaltskrald from "../components/Digitaltskrald.astro";
import Forms from "../components/Forms.astro";
import Goderaad from "../components/Goderaad.astro";
import Guidelines from "../components/Guidelines.astro";
import Top from "../components/Top.astro";
import Vidstedu from "../components/Vidstedu.astro";

---
<MainLayout title="Titel">
<section id="">
<Top></Top>
</section>

<section id="">
<Digitaltskrald></Digitaltskrald>
</section>

<section id="">
<Vidstedu></Vidstedu>
</section>

<section id="">
<Guidelines></Guidelines>
</section>

<section id="">
<Goderaad></Goderaad>
</section>

<section id="">
<Forms></Forms>
</section>
</MainLayout>