---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Digitaltskrald from "../components/Digitaltskrald.astro";
import Forms from "../components/Forms.astro";
import Goderaad from "../components/Goderaad.astro";
import Guidelines from "../components/Guidelines.astro";
import Quote from"../components/Quote.astro";
import Top from "../components/Top.astro";
import Vidstedu from "../components/Vidstedu.astro";

---
<MainLayout title="Titel">
<section id="top">
<Top></Top>
</section>

<section class="bg-lightpink" id="digitaltskrald">
<Digitaltskrald></Digitaltskrald>
</section>

<section id="vidstedu">
<Vidstedu></Vidstedu>
</section>

<section id="guidelines">
<Guidelines></Guidelines>
</section>

<section id="quote">
<Quote></Quote>
</section>

<section id="goderaad">
<Goderaad></Goderaad>
</section>

<section id="forms">
<Forms></Forms>
</section>
</MainLayout>