---
import Button from '../components/Button.astro';
---
<div class="max-w-3xl mx-auto grid grid-cols-1 gap-10 pt-24 pb-36">
<section class="mb-24" >
<div>
    <h2 class="text-darkblue text-5xl font-bold font-poppins text-center mb-12 leading-relaxed">Hvad er digitalt skrald?</h2>
    <div class="grid grid-cols-1 ">

    <p class="text-darkblue font-roboto">I den digitale verden, er der ligesom i miljøet en enorm mængde affald.  
Unødvendige e-mails, filer, apps og kopier af fotos og videoer udgør alt sammen digitalt affald.
    </p>
    <br>


    <p class="text-darkblue font-roboto">
Hvis vi alle sletter unødvendige filer, apps, fotos og videoer, sparer vi ikke kun en enorm mængde CO2, men vi forlænger også levetiden på vores apparater, vi vil føler os mere afbalancerede, tage kontrol over vores eget liv, skabe nye digitale vaner og blive mere effektive og tilfredse.    
    </p>
    </div>
</div>
</section>



<section id="vigtig">
<div class="mb-16">
<h2 class="text-pink text-5xl font-bold font-poppins text-center mb-12 leading-normal">Hvorfor er digital <br> skraldedag vigtig?</h2>
<p class="text-darkblue font-roboto">Problemet med digitalt skrald ligger i den overflod af unødvendige eller uønsket digitale indhold, som ligger og gemmer sig i vores apparater og skaber en digital forurening, der fortsætter med at bruge energi, selv når vi har glemt det. </p>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-16">

        <div class=" grid grid-cols-1 bg-lightblue justify-items-center p-10 gap-8 rounded-lg text-center"> 
        <img src="../../public/fabrik.svg"  alt="">
        <p class="text-darkblue font-roboto">Hvert år sender internettet mere end 900 mio. tons CO2 ud i atmosfæren. </p>
        </div>


        <div class="grid grid-cols-1 bg-lightblue justify-items-center p-10 gap-8 rounded-lg text-center" >
            <img src="../../public/pil.svg"  alt="">
            <p class="text-darkblue font-roboto">De globale CO2-emissioner fra energi steg 0,9% i 2022, ramte et nyt højdepunkt på over 36,8 mia. tons. </p>
        </div>

          <div class="grid grid-cols-1 bg-lightblue justify-items-center p-10 gap-8 rounded-lg text-center">
            <img src="../../public/flyver.svg" alt="">
            <p class="text-darkblue font-roboto">Internetbrug udgør 3,7% af globale emissioner, det svarer til verdens lufttrafik. Det forventes fordoblet inden 2025</p>
        </div>

          <div class="grid grid-cols-1 bg-lightblue justify-items-center p-10 gap-8 rounded-lg text-center">
            <img src="../../public/jord.svg" alt="">
            <p class="text-darkblue font-roboto">Inden 2030 forventes internettet at sluge 20% af verdens samlede energiforbrug</p>
        </div>

</div>

</section>
</div>