---
---
  <footer class="bg-darkblue">
    <section class="grid grid-cols-2 gap-4">
        <div class="">
<h1 class="font-poppins text-pink text-3xl font-bold">DIGITAL SKRALDEDAG</h1>
<p class="font-roboto text-lightblue text-sm font-normal">Dette digitale affald skaber digital forurening, der fortsætter med at forbruge energi, selv når vi har glemt det. Digitalt skrald sidder i backupfiler på servere, der leverer os skytjenester, og fortsætter med at forbruge elektricitet.</p>
        </div>
        <div>
            <h2 class="font-poppins text-lightpink text-base absolute top-0 right-0 font-bold">16 MARTS 2024</h2>
        </div>
    </section>
  </footer>
  