<h2 class="text-5xl font-bold font-poppins mb-4 text-center text-darkblue">
  Regsistrer din digitale oprydning
</h2>
<div class="max-w-md mx-auto">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="fornavn">
        Fornavn
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="fornavn"
        type="text"
        placeholder="Indtast fornavn"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="efternavn">
        Efternavn
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="efternavn"
        type="text"
        placeholder="Indtast efternavn"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Indtast email"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="land">
        Land
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="land"
        type="text"
        placeholder="Indtast land"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="deltagere">
        Antal deltagere
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="deltagere"
        type="number"
        placeholder="Indtast antal deltagere"
      />
    </div>
    <div class="mb-4">
      <div class="flex items-center">
        <input
          type="checkbox"
          class="form-checkbox h-5 w-5 text-indigo-600"
          id="accepter"
          name="accepter"
        />
        <label class="ml-2 text-gray-700 text-sm font-bold" for="accepter">
          Jeg accepterer vilkår og betingelser
        </label>
      </div>
    </div>
    <div class="mb-4">
      <div class="flex items-center">
        <input
          type="checkbox"
          class="form-checkbox h-5 w-5 text-indigo-600"
          id="nyhedsbrev"
          name="nyhedsbrev"
        />
        <label class="ml-2 text-gray-700 text-sm font-bold" for="nyhedsbrev">
          Tilmeld mig nyhedsbrev
        </label>
      </div>
    </div>

      <button></button>
        
     
    </div>
  </form>
</div>


