---
---
<div class=" max-w-3xl mx-auto py-36"> 
    <h1 class="text-5xl font-bold font-poppins text-center text-pink  mb-8  "> Gode råd til digital oprydning </h1>
    <h2 class="text-xl font bold font-poppins text-center text-lightblue mb-5"> Her er 4 nemme råd som du kan følge for være med til at skabe en bedre og grønnere fremtid  </h2>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
        <div>
          <h2 class="text-xl font-bold font-poppins  text-lightpink"> Ryd op i din smartphone</h2>
          <p class=" text-lightblue font-roboto "> Fjern alle applikationer, som du ikke har brugt i et stykke tid eller kun har brugt få gange. Vær ærlig og dristig! Slet alle de unødvendige, glemte gamle apps og spil, som du har downloadet, men endnu ikke har prøvet. Du kommer ikke til at begynde at bruge dem senere – det er sikkert! De bruger energi, selv når de ikke er i brug, og kan forbruge hundrede megabytes data hver måned til opdateringer.
            <br><br>
            Glem ikke at slette brugerkonti (inklusive e-mails) og alle dens data, som du oprettede, da du var 15 år, og ikke har brugt i et årti. Du vil øge hastigheden på din telefon og forlænge batteritiden – det er altid værd at have så få apps som nødvendigt.
            Gennemgå dine fotos og videoer. Ved at slette de unødvendige og duplikater kan du frigøre adskillige gigabytes værdifulde lagerpladser. Se vejledningen om, hvordan du rydder op på din smartphone og tablet.</p>
        </div>
        <div class="hidden md:block">
          <img src="billede1.jpg" alt="pil 1">
        </div>
      
        <div class="hidden md:block">
          <img src="billede2.jpg" alt="pil 2">
        </div>
        <div>
            <h2 class="text-xl font-bold font-poppins  text-lightpink"> Ryd op på din computer</h2>
          <p class=" text-lightblue font-roboto "> Ryd op på din pc og slet filer, der er kopier eller er blevet overflødige. Sorter dine fotos, slet kopier og de uskarpe. Gennemgå videoer og slet sete eller unødvendige filer. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer! Se vejledningen om, hvordan du rydder op på din computer og drev.</p>
        </div>
        <div>
            <h2 class="text-xl font-bold font-poppins  text-lightpink"> Ryd op på dine emails</h2>
            <p class=" text-lightblue font-roboto "> Filtrér e-mails efter de ældste og arkiver dem. Afbestil nyhedsbreve, som du ikke læser, vælg lange samtaler, tag den nyeste og SLET ALT andet. Søg efter fælles navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem samlet. Vær modig og klik på SLET-knappen. Se vejledningen om, hvordan du rydder op i din email!</p>
        </div>
        <div class="hidden md:block">
          <img src="billede1.jpg" alt="pil 3">
        </div>
        <div class="hidden md:block">
          <img src="billede2.jpg" alt="pil 4">
        </div>
        <div>
            <h2 class="text-xl font-bold font-poppins  text-lightpink"> Lav nye vaner</h2>
            <p class=" text-lightblue font-roboto "> 
                I stedet for at sende e-mails, brug flere samarbejdssteder. Stop med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer i en sky et sted, så der ikke er behov for at have den samme fil på hver computer. Tænk først, før du laver en backup. Skab mindre "hurtigt indhold" og vær mere bevidst om dine videoer og fotos. Sørg for kun at lave backup af filer, du får brug for, og fotos, du elsker.
                Små ændringer i dine internetvaner, såsom at slukke for video under et virtuelt møde, reducere kvaliteten af streamingtjenester, begrænse spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve og e-mail-lister, kan betydeligt reducere den miljømæssige påvirkning!
                </p
        </div>
      </div>
      


    