---
import Button from '../components/Button.astro';
---

<div class="pt-24 max-w-4xl mx-auto">
    <h1 class="text-5xl font-bold font-poppins text-center text-pink mb-5"> Guidelines til digital oprydning </h1>
    <h2 class="text-xl font bold font-poppins text-center text-darkblue "> Her finder du en guide til at se hvor meget du har slettet <br> samt hvordan du bedst og nemmest gør det </h2>

<div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-20">

    <p class="md:col-span-2 font-roboto  mt-10 "> 
        <div class="col-span-1  text-darkblue">
            <h2 class="text-xl font-bold font-poppins  text-wine "> Ryd op i emails</h2> 
    <br> 
    Tjek den aktuelle størrelse af din mailbox.    
    Gå til Outlook > Filer > Mailboksindstillinger > skriv antallet af ledige GB i din mailbox ned. Glem ikke dette, ellers vil du ikke kende resultaterne af dine oprydnings indsatser!
    <br> <br>Filtrer e-mails efter den ældste, du har, og saml dem i en mappe.
    
    <br> <br>Søg efter fælles navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem som en masse. Vær dristig og klik på SLET-knappen.
    
    <br> <br>Vælg lange samtaler, vælg den nyeste og SLET ALT andet. Hvis det også er irrelevant, så vær modig og slip af med den sidste.
    
    <br> <br>Afbestil alle nyhedsbreve, der ikke har fanget din dybere opmærksomhed. Du kommer helt sikkert ikke til at læse dem i fremtiden. 
        </div>
        <div class="col-span-1  text-darkblue mt-7">
    
    FYI-E-mails (til din information) - bare SLET!
    
    <br> <br>OK-e-mails (chat med en stor gruppe mennesker, som du kan gøre andre steder) - simpelthen SLET!
    
    <br> <br>Bloker uønskede afsendere. Gå til Hjemvisning > Uønsket > Bloker sender.
    Slå e-mail-notifikationer fra apps og sociale medier fra.
    
    <br> <br>Slet gamle aftaler fra dine online kalendere. Alle de forfaldne aftaler hober sig op i din kalender mappe og skaber digitalt affald. Gør det til en ugentlig rutine at slette dem.
    
    <br> <br> <p class="font-bold pb-12"> Tillykke! Du gjorde virkelig et godt stykke arbejde! </p>
  <a href="#forms"><Button variant="primary" size="medium">Regsistrer</Button></a>
        </div>
    
    </p>
</div>

<div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-20">
    <p class="md:col-span-2 font-roboto mt-10">
        <div class="col-span-1 text-darkblue">
            <h2 class="text-xl font-bold font-poppins text-wine">Ryd op i din telefon</h2> 
            <br>
            Skriv den aktuelle ledige lagerplads på din mobiltelefon ned.
            Android-telefoner: Menu > Indstillinger > Lager
            iPhones: Indstillinger > Generelt > Lager
            Glem ikke dette, ellers vil du ikke kende resultaterne af din oprydnings indsats!
            <br> <br>
            Vov at slette alt, der er unødvendigt. Din telefon skal have mindst 1 GB hukommelsesplads fri. Fjern alle apps, du ikke har brugt eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemt gamle apps og spil, som du har downloadet, men aldrig rigtig brugt. Du vil helt sikkert heller ikke begynde at bruge dem senere! Du kan også slette din telefons forudinstallerede apps, men sørg for, at du ikke fjerner system-apps.
            <br> <br>
            Plej din cache. Det er værd at rydde din telefons cache en gang imellem.
            På Android-telefoner, gå til Indstillinger > Tryk på Lager overskriften > Find den app, du vil rydde > Ryd cache
            På iPhones, gå til Indstillinger > Safari > Ryd historik og webstedsdata > Ryd historik og data. Tjek også, hvor meget plads dine apps tager, gå til Indstillinger > Generelt > Brug (iPhone). Du bør slette de tungeste apps og geninstallere dem igen. Du vil blive overrasket over, hvor meget mere plads dette giver dig.
            <br> <br>
            Opbevar dine vigtige dokumenter i skyen og fotos og videoer på eksterne harddiske. Har du virkelig brug for ti versioner af det samme billede, eller kan du gemme kun det bedste?  <br> <br>
        </div>
        <div class="col-span-1  text-darkblue mt-7">
            Det er typisk at holde dine mest værdifulde minder kun på din telefon, og det er en stor risiko at miste dem alle på én gang! Så gem dine personlige fotos og videoer på eksterne harddiske og dine vigtige dokumenter i skytjenester som iCloud, Dropbox eller Microsoft OneDrive. På eksterne harddiske er dine billeder og videoer sikre uden at optage plads på din telefon. Ekstern opbevaring er en billig 
måde at gemme dine minder uden bekymring for at miste dem. Hvis du ikke har gjort dette før, er det nu tid til at starte!
<br> <br>
Gå tilbage til din telefons oprindelige lagrings størrelse - se tallet, du skrev ned i begyndelsen, og tjek derefter den aktuelle størrelse og lav beregningerne - hvor mange GB formåede du at slette?
<br> <br>
Endelig, gå tilbage til vores kampagneside og udfyld antallet af slettede gigabyte. Hvis du vil fortsætte oprydningen, kan du deltage igen og indtaste de nye tal.
<br> <br>

            <p class="font-bold pb-12">
                Tillykke! Du gjorde virkelig et godt stykke arbejde!
            </p>
        <a href="#forms"><Button variant="primary" size="medium">Regsistrer</Button></a>
        </div>
    </p>
</div>

</div>


