---
---
<header class="bg-darkblue text-wine font-poppins">
<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full bg-white" >
<div id="navbar" class="flex flex-row justify-between">
<div id="logo" class="">
<a href="#link1">Site logo</a>
</div>

<button id="burgermenu"  x-on:click="showmenu = ! showmenu"><img src="../../public/menu.svg" alt=""></button>
</div>
<nav id="mobilmenu" class="flex flex-col content-center pt-4" 
x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
<ul class="bg-lightpink text-darkblue font-poppins text-2xl font-bold">
<li class="hover:translate-y-[-5px] p-1"><a href="#digitaltskrald">Hvad er digtalt skrald</a></li>
<li class="hover:translate-y-[-5px] p-1"><a href="#vigtig">Hvorfor er det vigtigt?</a></li>
<li class="hover:translate-y-[-5px] p-1"><a href="#vidstedu">Vidste du at?</a></li>
<li class="hover:translate-y-[-5px] p-1"><a href="#guidelines">Guidelines til digtal oprydning</a></li>
<li class="hover:translate-y-[-5px] p-1"><a href="#goderaad">Gode råd til digital oprydning</a></li>
<li class="hover:translate-y-[-5px] p-1"><a href="#forms">Registrer din digitale oprydning</a></li>
</ul>
</nav>
</div>
</header>