---
---
<div x-data="{ showmenu: false }" class="" >
    <div id="navbar" class="flex flex-row justify-between">
        <div id="logo" class="">
            <a class="  " href="">Københavnerbilleder</a>
        </div>

        <button id="burgermenu" class="px-6" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-4" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul >
            <li class=""><a href="#digitaltskrald">Hvad er digitalt skrald</a></li>
            <li class=""><a href="#vigtigt">Hvorfor er det vigtigt</a></li>
            <li class=""><a href="#vidstedu">Vidste du at</a></li>
            <li class=""><a href="#guidelines">Guidelines til digital oprydning</a></li>
            <li class=""><a href="#digitaloprydning">Gode råd til digital oprydning</a></li>
            <li class=""><a href="#regisrer">Registrer din digitale oprydning</a></li>
        </ul>
    </nav>
</div>

