---

---
<header>
<!-- Hamburger Menu Icon -->
<div class="fixed top-[40px] right-[100px] text-[40px]">
    <ion-icon name="menu-outline" onclick="Open(this)"></ion-icon>
</div>


<!-- Main Menu -->
<div class="fixed bg-[#f8afd7] w-0 h-[100vh] text-darkblue flex justify-center items-center text-[40px] cursor-pointer overflow-hidden " id="hammm">
    <ul class="font-poppins font-bold">
        <li class="hover:translate-y-[-5px]"><a href="#digitalskrald">Hvad er digitalt skrald</a></li>
        <li class="hover:translate-y-[-5px]"><a href="#">Hvorfor er det vigtigt?</a></li>
        <li class="hover:translate-y-[-5px]"><a href="#vidstedu">Vidste du at? </a></li>
        <li class="hover:translate-y-[-5px]"><a href="#">Guidelines til digital oprydning</a></li>
        <li class="hover:translate-y-[-5px]"><a href="#">Gode råd til digital oprydning</a></li>
        <li class="hover:translate-y-[-5px]"><a href="#">Registrer din digitale oprydning</a></li>
    </ul>
    <!-- Close Button -->
    <div class="absolute top-[40px] right-[100px] text-[40px] cursor-pointer">
        <ion-icon name="close-outline" onclick="Close(this)"></ion-icon>
    </div>
</div>
</header>




<script>
    let ham = document. 
    getElementById('hammm')
    function Open(){
        ham.classList.add('w-[100%]')
    }
    function Close(){
        ham.classList.remove('w-[100%]')
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>