---
---
<div class=" bg-lightblue pt-36 pb-36">

    <p class="mx-33 italic text-orange font-poppins font-bold  text-1xl leading-relaxed sm:text-2xl md:text-7xl lg:text-4xl xl:text-4xl  pl-10 pr-10 sm:leading-loose md:leading-loose lg:leading-loose"> " Google sluger dagligt 15.616 MWh energi, dette er nok til at forsyne et helt land med 1 million indbyggere med strøm i en hel dag.</p>
    
</div>

