---
---
<div class=" bg-lightblue">

    <p class=" italic text-orange font-poppins font-bold s text-1xl leading-relaxed sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl  pl-10 pr-10 sm:leading-normal md:leading-loose lg:leading-loose"> " Google sluger dagligt 15.616 MWh energi, dette er nok til at forsyne et helt land med 1 million indbyggere med strøm i en hel dag.</p>
    
</div>
<!--  inkorporeret skævt quote?
<div class="w-auto h-auto bg-lightpink">

    <p class="text-orange font-poppins font-bold skew-y-3 text-4xl  pl-20 pr-20 leading-relaxed"> " Google sluger dagligt 15.616 MWh energi, dette er nok til at forsyne et helt land med 1 million indbyggere med strøm i en hel dag.</p>
    
</div>
-->
