---
---
<section class="bg-darkblue max-w-4xl mx-auto"> 
 <h1 class="text-lightpink text-5xl font-poppins font-bold text-center py-10 pt-36"> Vidste du at?</h1>
  <ul class="list-disc text-lightpink font-roboto p-8 md:list-disc "> 
    <li class="py-2">Hvis 70 mio. streamingabonnenter <span class="font-bold">skiftede fra HD til Standard kvalitet</span>, ville det mindske CO2-udledningen med <span class="font-bold">3,5 mio. tons pr. måned </span>- svarende til at fjerne 6% af den samlede månedlige kulforbrug i USA.</li>
    <li class="py-2">15 timers online møder med kameraet tændt udleder <span class="font-bold">9,4 kg CO2 om måneden</span>. At slukke for videoen ville svare til at spare samme mængde CO2 som opstår ved <span class="font-bold">opladning af en smartphone hver nat i 1151 dage.</span> </li>
    <li class="py-2">Den energi, du bruger på<span class="font-bold"> 2 timers streaming</span>, kan du bruge på at pendle mellem <span class="font-bold">3000 km - 4800 km med en elektrisk scooter om året</span>. Det svarer til 8 Km dagligt</li>
    <li class="py-2">Dagens <span class="font-bold">dataforbrug kræver 3 gange mere energi end alle solpaneler kan levere</span>. Internetbrug, som er drevet af fossile brændstoffer, er ansvarlig for <span class="font-bold">over 870 mio. tons CO2. </li>
    <li class="py-2">Dagligt <span class="font-bold">svæver 281 mia. e-mails jorden rundt</span> Håndteringen tager 3 timer, og stjæler<span class="font-bold"> 23% af arbejdsdagen.</span> Optimer din tid ved at reducere, organisere og udforske alternative kommunikationsmetoder. </li>
</ul>
<div class="flex md:justify-end pb-16">
  <img src="../../public/grafik.svg" alt="">
</div>
</section>
<!-- Vil vi havde det med fed, i lyserød i stedet? -->