---
---
<section class="bg-darkblue max-w-4xl mx-auto px-10 md:px-0 md:pt-24 pt-5 md:pb-36 pb-10"> 
 <h1 class="text-lightpink md:text-5xl text-3xl font-poppins font-bold text-center py-10 pb-5 md:pb-12 "> Vidste du at?</h1>
  <ul class="list-disc text-lightpink font-roboto  md:list-disc "> 
    <li class="py-2 text-base md:text-lg ">Hvis 70 mio. streamingabonnenter <span class="font-bold">skiftede fra HD til Standard kvalitet</span>, ville det mindske CO2-udledningen med <span class="font-bold">3,5 mio. tons pr. måned </span>- svarende til at fjerne 6% af den samlede månedlige kulforbrug i USA.</li>
    <li class="py-2 text-base md:text-lg ">15 timers online møder med kameraet tændt udleder <span class="font-bold">9,4 kg CO2 om måneden</span>. At slukke for videoen ville svare til at spare samme mængde CO2 som opstår ved <span class="font-bold">opladning af en smartphone hver nat i 1151 dage.</span> </li>
    <li class="py-2 text-base md:text-lg ">Den energi, du bruger på<span class="font-bold"> 2 timers streaming</span>, kan du bruge på at pendle mellem <span class="font-bold">3000 km - 4800 km med en elektrisk scooter om året</span>. Det svarer til 8 Km dagligt</li>
    <li class="py-2 text-base md:text-lg ">Dagens <span class="font-bold">dataforbrug kræver 3 gange mere energi end alle solpaneler kan levere</span>. Internetbrug, som er drevet af fossile brændstoffer, er ansvarlig for <span class="font-bold">over 870 mio. tons CO2. </li>
    <li class="py-2 text-base md:text-lg ">Dagligt <span class="font-bold">svæver 281 mia. e-mails jorden rundt</span> Håndteringen tager 3 timer, og stjæler<span class="font-bold"> 23% af arbejdsdagen.</span> Optimer din tid ved at reducere, organisere og udforske alternative kommunikationsmetoder. </li>
</ul>
<div class="flex md:justify-end justify-center pt-10 md:pt-0">
  <img src="grafik.svg" alt="">
</div>
</section>
<!-- Vil vi havde det med fed, i lyserød i stedet? -->